/**
 * Copyright 2020 by Benjamin Petry (www.bpetry.de).
 * This software is provided on an "AS IS" BASIS,
 * without warranties or conditions of any kind, either express or implied.
 */

.error-bar {
  margin-left: calc(0px - var(--spacing-md));
  margin-right: calc(0px - var(--spacing-md));
  margin-top: calc(0px - var(--spacing-md));
  margin-bottom: calc(var(--spacing-md));
}
