/**
 * Copyright 2020 by Benjamin Petry (www.bpetry.de).
 * This software is provided on an "AS IS" BASIS,
 * without warranties or conditions of any kind, either express or implied.
 */

/* ###########################################################
   ###################### ELEMENT COLORS #####################
   ########################################################### */

html,
body {
  background-color: var(--grey-90);
  overflow: hidden;
}

body {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  color: var(--black);
}
.inverse {
  color: var(--white);
}

a,
.link {
  color: var(--secondary-75);
}
a:hover:enabled,
.link:hover:enabled {
  color: var(--secondary-100);
}
a:active:enabled,
.link:active:enabled {
  color: var(--secondary-42);
}

caption,
.caption {
  color: var(--grey-60);
}

.invalid {
  color: var(--signal-danger);
  font-weight: var(--font-bold);
}

/* ###########################################################
   ######################## TEXT SIZES #######################
   ########################################################### */

// body,
// caption,
// th,
// td,
// input,
// textarea,
// select,
// option,
// legend,
// fieldset,
// h1,
// h2,
// h3,
// h4,
// h5,
// h6 {
//   font-size-adjust: 0.5;
// }

// label,
// .label {
//   font-weight: var(--font-bold);
// }

// .title {
//   font-weight: var(--font-bold);
//   text-align: center;
// }

// .invalid caption,
// caption.invalid {
//   font-weight: var(--font-bold);
// }

// .title-light {
//   text-align: center;
// }

// /* MOBILE PHONE */

// h1 {
//   font-size: 3.2rem;
//   line-height: 1.25rem;
// }

// h2 {
//   font-size: 1.625rem;
//   line-height: 1.15384615rem;
// }

// h3 {
//   font-size: 1.375rem;
//   line-height: 1.13636364rem;
// }

// h4 {
//   font-weight: var(--font-bold);
//   font-size: 1.125rem;
//   line-height: 1.22222rem;
// }

// h5 {
//   font-size: 1.125rem;
//   line-height: 1.22222rem;
// }

// p {
//   max-width: 17rem; /* approx 35 - 40 characters */
// }

// caption,
// .caption {
//   font-size: 0.8rem;
//   line-height: 1.618rem;
// }

// /* TABLET */
// @media (min-width: 37.5em) {
//   * {
//     font-size: 1rem;
//     line-height: 1.375rem;
//   }

//   h1 {
//     font-size: 2.5rem;
//     line-height: 1.125rem;
//   }

//   h2 {
//     font-size: 2rem;
//     line-height: 1.25rem;
//   }

//   h3 {
//     font-size: 1.5rem;
//     line-height: 1.25rem;
//   }

//   p {
//     max-width: 28rem; /* approx 60-75 characters */
//   }
// }

// /* DESKTOP */
// @media (min-width: 60em) {
//   * {
//     font-size: 1rem;
//     line-height: 1.375rem;
//   }

//   h1 {
//     font-size: 3rem;
//     line-height: 1.05rem;
//   }

//   h2 {
//     font-size: 2.25rem;
//     line-height: 1.25rem;
//   }

//   h3 {
//     font-size: 1.75rem;
//     line-height: 1.25rem;
//   }

//   p {
//     max-width: 28rem; /* approx 60-75 characters */
//   }
// }

/* ###########################################################
   ##################### ELEMENT SPACINGS ####################
   ########################################################### */

html,
body,
div#root,
div#root > div {
  height: 100%;
  min-height: 100%;
  max-height: 100%;
}

h1 {
  margin-top: var(--spacing-xl);
  margin-bottom: var(--spacing-md);
}

h2 {
  margin-top: var(--spacing-lg);
  margin-bottom: var(--spacing-smd);
}

h3 {
  margin-top: var(--spacing-lg);
  margin-bottom: var(--spacing-smd);
}

h4,
h5 {
  margin-top: var(--spacing-md);
  margin-bottom: var(--spacing-sm);
}

/* TABLET */
@media (min-width: 37.5em) {
  h1 {
    margin-top: var(--spacing-xxl);
    margin-bottom: var(--spacing-lg);
  }

  h2 {
    margin-top: var(--spacing-xl);
    margin-bottom: var(--spacing-md);
  }

  h3 {
    margin-top: var(--spacing-lg);
    margin-bottom: var(--spacing-smd);
  }
}

/* DESKTOP */
@media (min-width: 60em) {
  h1 {
    margin-top: var(--spacing-xxl);
    margin-bottom: var(--spacing-lg);
  }

  h2 {
    margin-top: var(--spacing-xl);
    margin-bottom: var(--spacing-md);
  }

  h3 {
    margin-top: var(--spacing-lg);
    margin-bottom: var(--spacing-smd);
  }
}

/* ###########################################################
   ########################## ICONS ##########################
   ########################################################### */

.appicon,
.appicon.lg,
.appicon.md {
  background-image: url("/favicon.ico");
  background-size: var(--icon-lg) var(--icon-lg);
  background-repeat: no-repeat;
  background-position: center;
  width: var(--icon-lg);
  height: var(--icon-lg);
}

.appicon.md {
  background-size: var(--icon-md) var(--icon-md);
  width: var(--icon-md);
  height: var(--icon-md);
}

/* ###########################################################
   ######################## DISABLED #########################
   ########################################################### */

.disabled,
button:disabled,
input:disabled {
  opacity: 0.3;
}

button.danger {
  color: var(--white);
  background-color: var(--signal-danger);
  font-weight: var(--font-bold);
}
button.danger:hover:enabled {
  background-color: var(--status-caution);
}

button.danger:active:enabled {
  background-color: var(--black);
}

/* ###########################################################
   ########################## INPUT ##########################
   ########################################################### */

div.input {
  text-align: left;
}

label,
.label {
  margin: var(--spacing-sm);
  margin-bottom: calc(0px - var(--spacing-xs) / 2);
  text-align: left;
}

/* TODO --> Move into the right files */

/* ###########################################################
   ######################### BUTTON ##########################
   ########################################################### */

button {
  margin: var(--spacing-sm);
  height: calc(var(--spacing-xxl));
  padding: var(--spacing-sm) var(--spacing-xl);
  border-radius: 4px;
  border-width: 0px;
  border-style: none;
  outline: none;
  transition: color 0.2s ease, background-color 0.2s ease;
  background-color: var(--grey-80);
  color: var(--black);
  text-align: center;
}

button:hover:enabled {
  background-color: var(--grey-90);
}
button:active:enabled {
  background-color: var(--grey-60);
}

.primary {
  background-color: var(--black);
  color: var(--white);
}

button.primary:hover:enabled {
  background-color: var(--grey-40);
}
button.primary:active:enabled {
  background-color: var(--grey-20);
}

/* ###########################################################
   ####################### ICON BUTTON #######################
   ########################################################### */

button i.fas {
  margin-right: var(--spacing-sm);
  font-size: var(--icon-lg);
}

.icon,
.icon-solid,
.icon-regular {
  font-family: "Font Awesome 5 Free";
  font-size: var(--icon-lg);
}
.icon.small {
  font-size: var(--icon-md);
}
.icon-regular {
  font-weight: 200;
}
.icon,
.icon-solid {
  font-weight: 900;
}

.iconbutton {
  font-family: "Font Awesome 5 Free";
  font-size: var(--icon-lg);
  padding: var(--spacing-sm);
  height: calc(var(--icon-xxl) - var(--spacing-sm) * 2);
  width: calc(var(--icon-xxl) - var(--spacing-sm) * 2);
  display: grid;
}
.iconbutton i.fas {
  font-family: "Font Awesome 5 Free";
  margin: 0px;
  font-size: var(--icon-lg);
}

.iconbutton.primary i.fas,
button.primary i.fas {
  color: var(--white);
}

/* .secondary.iconbutton {
  color: var(--grey-500);
  background-color: var(--black);
  padding: 0px;
  height: var(--icon-md);
  width: var(--icon-md);
}

.secondary.iconbutton i {
  margin: 0px;
  margin-left: -2px;
  margin-top: -2px;
  font-size: calc(var(--font-md) + 6px);
}

.secondary.iconbutton:hover:enabled {
  color: var(--grey-400);
  background-color: var(--black);
}

.secondary.iconbutton:active:enabled {
  color: var(--grey-300);
  background-color: var(--black);
} */

/* ###########################################################
   ########################### BAR ###########################
   ########################################################### */

.bar {
  margin-left: var(--spacing-md);
  margin-right: var(--spacing-md);
  height: 1px;
  background-color: var(--grey-80);
  width: 100%;
}

.toolbar {
  display: grid;
  border-top: 1px solid var(--grey-80);
  -webkit-box-shadow: 0px -1px 2px var(--grey-80);
  -moz-box-shadow: 0px -1px 2px var(--grey-80);
  box-shadow: 0px -1px 2px var(--grey-80);
  z-index: 1000;
}

.toolbar > * {
}

/* ###########################################################
   ####################### GRID LAYOUT #######################
   ########################################################### */

/* For mobile phones:
[class*="col-"] {
  width: 100%;
} 

@media only screen and (min-width: 600px) {
  /* For tablets: 
  .col-s-1 {
    width: 8.33%;
  }
  .col-s-2 {
    width: 16.66%;
  }
  .col-s-3 {
    width: 25%;
  }
  .col-s-4 {
    width: 33.33%;
  }
  .col-s-5 {
    width: 41.66%;
  }
  .col-s-6 {
    width: 50%;
  }
  .col-s-7 {
    width: 58.33%;
  }
  .col-s-8 {
    width: 66.66%;
  }
  .col-s-9 {
    width: 75%;
  }
  .col-s-10 {
    width: 83.33%;
  }
  .col-s-11 {
    width: 91.66%;
  }
  .col-s-12 {
    width: 100%;
  }
}

@media only screen and (min-width: 768px) {
  /* For desktop: 
  .col-1 {
    width: 8.33%;
  }
  .col-2 {
    width: 16.66%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33%;
  }
  .col-5 {
    width: 41.66%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33%;
  }
  .col-8 {
    width: 66.66%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.33%;
  }
  .col-11 {
    width: 91.66%;
  }
  .col-12 {
    width: 100%;
  }
} */
