/**
 * Copyright 2020 by Benjamin Petry (www.bpetry.de).
 * This software is provided on an "AS IS" BASIS,
 * without warranties or conditions of any kind, either express or implied.
 */

/** Based on: https://projects.lukehaas.me/css-loaders/ */

.live-loader.hidden {
  display: none;
}

.live-loader-wrapper {
  width: 5em;
  height: 5em;
  background-color: #000000;
}

.live-loader,
.live-loader:before,
.live-loader:after {
  --loader-bg: #000000;
  --loader-fg: #ffffff;
  border-radius: 50%;
}
.live-loader {
  position: relative;
  margin: 0px;
  color: var(--loader-fg);
  font-size: 11px;
  text-indent: -99999em;
  position: relative;
  width: 9.9em;
  height: 9.9em;
  box-shadow: inset 0 0 0 1em;
}
.live-loader:before,
.live-loader:after {
  position: absolute;
  content: "";
}
.live-loader:before {
  width: 5.2em;
  height: 10.2em;
  background: var(--loader-bg);
  border-radius: 10.2em 0 0 10.2em;
  top: -0.1em;
  left: -0.1em;
  -webkit-transform-origin: 5.1em 5.1em;
  transform-origin: 5.1em 5.1em;
  -webkit-animation: liveLoadAnim 2s infinite ease 1.5s;
  animation: liveLoadAnim 2s infinite ease 1.5s;
}
.live-loader:after {
  width: 5.2em;
  height: 10.2em;
  background: var(--loader-bg);
  border-radius: 0 10.2em 10.2em 0;
  top: -0.1em;
  left: 4.9em;
  -webkit-transform-origin: 0.1em 5.1em;
  transform-origin: 0.1em 5.1em;
  -webkit-animation: liveLoadAnim 2s infinite ease;
  animation: liveLoadAnim 2s infinite ease;
}
@-webkit-keyframes liveLoadAnim {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes liveLoadAnim {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
