/**
 * Copyright 2020 by Benjamin Petry (www.bpetry.de).
 * This software is provided on an "AS IS" BASIS,
 * without warranties or conditions of any kind, either express or implied.
 */

body {
  font-family: var(--font-text);
  font-weight: var(--font-normal);
  font-size: var(--font-md);
  line-height: 1.7;
  color: var(--grey-20);
}

@font-face {
  font-family: "font_awesome_solid";
  font-style: normal;
  font-weight: 900;
  font-display: auto;
  src: url(https://use.fontawesome.com/releases/v5.13.0/webfonts/fa-solid-900.eot);
  src: url(https://use.fontawesome.com/releases/v5.13.0/webfonts/fa-solid-900.eot?#iefix)
      format("embedded-opentype"),
    url(https://use.fontawesome.com/releases/v5.13.0/webfonts/fa-solid-900.woff2)
      format("woff2"),
    url(https://use.fontawesome.com/releases/v5.13.0/webfonts/fa-solid-900.woff)
      format("woff"),
    url(https://use.fontawesome.com/releases/v5.13.0/webfonts/fa-solid-900.ttf)
      format("truetype"),
    url(https://use.fontawesome.com/releases/v5.13.0/webfonts/fa-solid-900.svg#fontawesome)
      format("svg");
}

@font-face {
  font-family: "font_awesome_brands";
  font-style: normal;
  font-weight: 400;
  font-display: auto;
  src: url(https://use.fontawesome.com/releases/v5.13.0/webfonts/fa-brands-400.eot);
  src: url(https://use.fontawesome.com/releases/v5.13.0/webfonts/fa-brands-400.eot?#iefix)
      format("embedded-opentype"),
    url(https://use.fontawesome.com/releases/v5.13.0/webfonts/fa-brands-400.woff2)
      format("woff2"),
    url(https://use.fontawesome.com/releases/v5.13.0/webfonts/fa-brands-400.woff)
      format("woff"),
    url(https://use.fontawesome.com/releases/v5.13.0/webfonts/fa-brands-400.ttf)
      format("truetype"),
    url(https://use.fontawesome.com/releases/v5.13.0/webfonts/ffa-brands-400.svg#fontawesome)
      format("svg");
}

.heading150,
h1 {
  font-family: var(--font-heading);
  font-weight: var(--font-light);
  font-size: $heading-150-size;
  line-height: $heading-150-line-height;
}

.heading100,
h2 {
  font-family: var(--font-heading);
  font-weight: var(--font-light);
  font-size: $heading-100-size;
  line-height: $heading-100-line-height;
}

.heading75,
h3 {
  font-family: var(--font-heading);
  font-weight: var(--font-normal);
  font-size: $heading-75-size;
  line-height: $heading-75-line-height;
}

.heading50,
h4 {
  font-family: var(--font-heading);
  font-weight: var(--font-normal);
  font-size: $heading-50-size;
  line-height: $heading-50-line-height;
}

.heading25,
h5 {
  font-family: var(--font-heading);
  font-weight: var(--font-bold);
  font-size: $heading-25-size;
  line-height: $heading-25-line-height;
}

.textNormal-100,
.textBold-100,
.textLight-100 {
  font-family: var(--font-text);
  font-size: $text-100-size;
  line-height: $text-100-line-height;
}

.textNormal-75,
.textBold-75,
.textLight-75 {
  font-family: var(--font-text);
  font-size: $text-75-size;
  line-height: $text-75-line-height;
}

.textNormal-50,
.textBold-50,
.textLight-50 {
  font-family: var(--font-text);
  font-size: $text-50-size;
  line-height: $text-50-line-height;
}

.textNormal-100,
.textNormal-75,
.textNormal-50 {
  font-weight: var(--font-normal);
}

.textBold-100,
.textBold-75,
.textBold-50 {
  font-weight: var(--font-bold);
}

.textLight-100,
.textLight-75,
.textLight-50 {
  font-weight: var(--font-light);
}
